{% import '_includes/forms' as forms %}

{{ forms.selectField({
  label: 'Default link type'|t('_typedlinkfield'),
  instructions: 'Select the preselected link type.'|t('_typedlinkfield'),
  id: 'defaultLinkName',
  name: 'defaultLinkName',
  options: field.availableLinkTypes.displayNames,
  value: field.defaultLinkName,
}) }}

{{ forms.textField({
  label: 'Default link text'|t('_typedlinkfield'),
  instructions: 'Set the default value of the link text.'|t('_typedlinkfield'),
  name: 'defaultText',
  value: field.defaultText
}) }}

<hr/>

<div class="field">
  <div class="heading"><label>{{ 'Custom link text'|t('_typedlinkfield') }}</label></div>
  <div class="instructions">{{ 'Show an additional text input that can be used to enter the visible link text.'|t('_typedlinkfield') }}</div>
  <div class="input">
    <fieldset>
      {{ forms.checkboxField({
        label: 'Allow custom link text'|t('_typedlinkfield'),
        name: 'allowCustomText',
        checked: field.allowCustomText
      }) }}
      {{ forms.checkboxField({
        label: 'Custom link text is required'|t('_typedlinkfield'),
        name: 'customTextRequired',
        checked: field.customTextRequired
      }) }}
    </fieldset>
  </div>
</div>

{{ forms.textField({
  errors: field.getErrors('customTextMaxLength'),
  instructions: 'Set the maximum allowed length of custom texts. Enter "0" to remove the length limit.'|t('_typedlinkfield'),
  label: 'Maximum length'|t('_typedlinkfield'),
  name: 'customTextMaxLength',
  min: 0,
  type: 'number',
  unit: 'characters'|t('_typedlinkfield'),
  value: field.customTextMaxLength,
}) }}

<hr/>

<div class="field">
  <div class="heading"><label>{{ 'Link target'|t('_typedlinkfield') }}</label></div>
  <div class="instructions">{{ 'Control whether users can mark links to be opened in a new window.'|t('_typedlinkfield') }}</div>
  <div class="input">
    <fieldset>
      {{ forms.checkboxField({
        label: 'Allow links to open in new window'|t('_typedlinkfield'),
        name: 'allowTarget',
        checked: field.allowTarget
      }) }}

      {{ forms.checkboxField({
        label: 'Set link relation to "noopener noreferrer" when opening links in a new window'|t('_typedlinkfield'),
        name: 'autoNoReferrer',
        checked: field.autoNoReferrer
      }) }}
    </fieldset>
  </div>
</div>

<hr/>

<div class="field">
  <div class="heading"><label>{{ 'Aria fields'|t('_typedlinkfield') }}</label></div>
  <div class="instructions">{{ 'Control the visibility of aria fields.'|t('_typedlinkfield') }}</div>
  <div class="input">
    <fieldset>
      {{ forms.checkboxField({
        label: 'Enable aria label support'|t('_typedlinkfield'),
        name: 'enableAriaLabel',
        checked: field.enableAriaLabel
      }) }}

      {{ forms.checkboxField({
        label: 'Enable title support'|t('_typedlinkfield'),
        name: 'enableTitle',
        checked: field.enableTitle
      }) }}
    </fieldset>
  </div>
</div>

<hr/>

<div class="field">
  <div class="heading"><label>{{ 'Element cache'|t('_typedlinkfield') }}</label></div>
  <div class="instructions">{{ 'Enable the element cache which stores titles and urls of linked elements within the link table. The field observes element changes and updates the cached values accordingly. The link cache can be regenerated using the caches utility within the control panel.'|t('_typedlinkfield') }}</div>
  <div class="input">
    <fieldset>
      {{ forms.checkboxField({
        label: 'Enable element url and title cache'|t('_typedlinkfield'),
        name: 'enableElementCache',
        checked: field.enableElementCache
      }) }}
    </fieldset>
  </div>
</div>
